<div leaflet [leafletOptions]="options" [leafletLayersControl]="layersControl" [leafletLayers]="filteredLayers">
</div>

<spinner class="overlay" *ngIf="assetsLoading"></spinner>

<div class="controls-container">
    <div class="controls">
        <div class="controls-header">
            <input type="search" placeholder="Ctrl+F to search assets" [(ngModel)]="searchFilter" name="searchFilter" #searchFilterField />
        </div>

        <div class="controls-section-container">
            <div class="controls-section">
                <div class="controls-section-header">
                    <h4>Fleets</h4>
                </div>
                <ul class="selection-list">
                    <li>
                        <a [routerLink]="['/home']" [ngClass]="{'active': activeFleet == undefined}" [queryParams]="{'fleet': null, 'assetCategory': activeAssetCategory, 'file': activeFile}">All</a>
                    </li>
                    <li *ngFor="let fleet of fleets">
                        <a [routerLink]="['/home']" routerLinkActive="active" [queryParams]="{'fleet': fleet.id, 'assetCategory': activeAssetCategory, 'file': activeFile}">{{fleet.name}}</a>
                    </li>
                </ul>
            </div>
            <spinner class="overlay" *ngIf="fleetsLoading"></spinner>
        </div>

        <div class="controls-section-container">
            <div class="controls-section">
                <div class="controls-section-header">
                    <h4>Categories</h4>
                </div>
                <ul class="selection-list">
                    <li>
                        <a [routerLink]="['/home']" [ngClass]="{'active': activeAssetCategory == undefined}" [queryParams]="{'fleet': activeFleet, 'assetCategory': null, 'file': activeFile}">All</a>
                    </li>
                    <li *ngFor="let assetCategory of assetCategories">
                        <a [routerLink]="['/home']" routerLinkActive="active" [queryParams]="{'fleet': activeFleet, 'assetCategory': assetCategory.id, 'file': activeFile}">{{assetCategory.name}}</a>
                    </li>
                </ul>
            </div>
            <spinner class="overlay" *ngIf="assetCategoriesLoading"></spinner>
        </div>

        <div class="controls-section-container">
            <div class="controls-section">
                <div class="controls-section-header">
                    <h4>Files</h4>
                    <button (click)="uppyDashboardModalOpen = !uppyDashboardModalOpen">Upload File</button>
                </div>
                <ul class="selection-list">
                    <li>
                        <a [routerLink]="['/home']" [ngClass]="{'active': activeFile == undefined}" [queryParams]="{'fleet': activeFleet, 'assetCategory': activeAssetCategory, 'file': null}">All</a>
                    </li>
                    <li *ngFor="let file of files">
                        <a [routerLink]="['/home']" routerLinkActive="active" [queryParams]="{'fleet': activeFleet, 'assetCategory': activeAssetCategory, 'file': file.id}">{{file.metadatas ? file.metadatas['filename'] : file.id}}</a>
                    </li>
                </ul>
            </div>
            <spinner class="overlay" *ngIf="filesLoading"></spinner>
        </div>
    </div>

</div>

<uppy-dashboard-modal [uppy]='uppy' [open]='uppyDashboardModalOpen' [props]='uppyDashboardOptions'></uppy-dashboard-modal>
